.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: #F5F5F5;
}

.enrty-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 97%;
    height: 44rem;
    /* background-color: #222222; */
    background-color: hsla(23, 0%, 13%, 1);
    background-image:
        radial-gradient(at 80% 100%, hsla(21, 0%, 0%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 15%, hsla(30, 100%, 50%, 0.1) 0px, transparent 50%);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signinButtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.signinButtn button {
    background-color: #FF7906;
    color: white;
    border-radius: 2rem;
    border: none;
    width: 7rem;
    height: 2.5rem;
}

.progress {
    width: 97%;
    background-color: #222222;
    height: 10rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-count {
    width: 25%;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.count-div {
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 8rem;
}

.count-div h1 {
    margin-bottom: 0;
}

.home-div {
    margin-top: 2rem;
    height: 25%;
    width: 90%;
    color: #F5F5F5;
}

.home-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: -4rem;
}

.beamember,
.learn {
    margin-bottom: 1rem;
    margin-right: 1rem;
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    color: white;
}

.beamember {
    background-color: #FF7906;
    border: none;
}

.learn {
    border: 1px solid #FF7906;
    background-color: transparent;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 50%;
    margin-top: 1rem;
    margin-left: -4rem;
}

.small-img {
    width: 30%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.small-img p {
    margin-top: 3rem;
}

.small-img img {
    height: 50%;
    width: 100%;
    border-radius: 2rem;
}

.big-img {
    width: 70%;
}

.big-img img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}