.be-a-member {
    position: relative;
    width: 100%;
    min-height: 25rem;
    background-image: url('/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.be-a-member h1 {
    color: #ecedee;
    font-size: 2rem;
    margin: 0;
}

.be-a-member p {
    color: white;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.be-a-member button {
    background: linear-gradient(90deg, #b249f8 0%, #ff1cf7 100%);
    color: white;
    border-radius: 1rem;
    border: none;
    width: 7rem;
    height: 2.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-weight: lighter;
    transition: all 0.3s ease;
    margin-right: 1rem;
}

.be-a-member button:hover {
    background-color: rgba(230, 108, 0, 0.9);
    transform: scale(1.05);
}