.reviewlist-container {
    width: 97%;
    min-height: 20rem; /* Added minimum height for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    background-color: #222222;
    border-radius: 2rem;
    padding: 1rem; /* Added padding to avoid content sticking to edges */
}

.review-div-heading {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center content vertically */
}

.heading {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}

.heading p {
    font-size: 1rem;
    margin-bottom: 0;
    color: #878383;
}

.heading h1 {
    color: white;
}

.review-textes {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.review-textes p {
    font-size: 1.2rem;
    margin-bottom: 1rem; /* Added margin-bottom for spacing */
    color: #878383;
}

.user-review {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 20rem;
    color: white;
    justify-content: space-between;
}

.user-review img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem; /* Margin for spacing */
    border-radius: 50%; /* Changed to circle for consistency */
}

.user-review h3 {
    margin: 0;
}

.user-review span {
    color: whitesmoke;
    font-size: 1rem;
}
