.reviewlist-container {
    width: 97%;
    min-height: 20rem; /* Maintain minimum height for visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.1); /* Glass effect background */
    border-radius: 2rem;
    padding: 1rem; /* Padding to avoid content sticking to edges */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border to enhance glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.review-div-heading {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center content vertically */
}

.heading {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}

.heading p {
    font-size: 1rem;
    margin-bottom: 0;
    color: #a1a1aa;
}

.heading h1 {
    color: #ecedee;
}

.review-textes {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.review-textes p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #878383;
}

.user-review {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 20rem;
    color: #ecedee;
    justify-content: space-between;
}

.user-review img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem; /* Margin for spacing */
    border-radius: 50%; /* Circle for consistency */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Light border for glass effect */
}

.user-review h3 {
    margin: 0;
}

.user-review span {
    color: #ecedee;
    font-size: 1rem;
}
