.trainer-container {
    width: 97%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.trainer-container  h1 {
    color: #b249f8;
}

.trainer-container  p {
    color: #ecedee;
}

.trainer-div {
    margin-top: 3rem;
    height: 17rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.trainer-img {
    width: 28%;
    height: 100%;
    position: relative; 
    overflow: hidden; 
    border-radius: 1rem;
}

.trainer-img img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.trainer-name {
    position: absolute; 
    bottom: 10px; 
    left: 0;
    width: 100%; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.6); 
    text-align: center; 
    padding: 0.5rem 0; 
}
