div::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  
  div::-webkit-scrollbar-thumb {
    background-color: #b249f8;
    border-radius: 10px;
  }
  
  div {
    scrollbar-width: thin;
    scrollbar-color: #b249f8 transparent;
  }
  
  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .loading-spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    border-top: 1px solid #b249f8;
  }
  
  .loading-spinner {
    text-align: center;
  }
  
  .loading-spinner .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.5rem;
    border-color: white transparent white transparent; 
  }
  
  .loading-spinner p {
    color: white; 
    margin-top: 0.5rem;
  }
  