.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal-container {
    background-color: black;
    padding: 2rem;
    border-radius: 1rem;
    width: 30%;
    position: relative;
    border: 1px solid #a040e0;
  }
  
  .userrepass {
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid #b249f8;
    background-color: transparent;
    color: whitesmoke;
  }
  
  .userrepass::placeholder {
    color: whitesmoke; 
    opacity: 1;
  }
  
  .userchangepass-btn, .close-modal-btn {
    width: 48%;
    height: 52%;
    background-color: #b249f8;
    border: none;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .userchangepass-btn:hover, .close-modal-btn:hover {
    background-color: #a040e0;
  }
  
  .close-modal-btn {
    margin-left: 4%;
    background-color: black;
    border: 1px solid #b249f8;
  }
  