.user-change-pass-container {
    width: 67.5%;
    margin-top: 1rem;
    border-radius: 1rem;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userrepass {
    width: 35%;
    margin-left: 4%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #FF7906;
}

.userchangepass-btn {
    width: 10%;
    height: 52%;
    margin-right: 4%;
    background-color: #FF7906;
    border: none;
    color: white;
    border-radius: 1rem;
}