.admin-nav-bar {
    width: 100%;
    height: 4rem;
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
}

.admin-navbar-logo,
.admin-navbar-heading {
    width: 13rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}


.admin-navbar-logo {
    justify-content: end;
    color: #FF7906;
}