.admin-dashboard-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling within the container */
}

.admin-sidebar-home {
    width: 20%;
    height: 100vh;
    background-color: #222222; /* Example background color */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Example shadow */
}

.content-indashboard {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Example background color */
    overflow: hidden; /* Prevents scrolling within the content area */

}
