.admin-sidebar {
    padding-top: 1.5rem;
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    border: 1px solid black;
    background-color: #222222;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 8px 0 10px rgba(0, 0, 0, 0.2);
    top: 4rem;
}

.admin-sidebar-list {
    width: 90%;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: #2c2c2c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FF7906;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-sidebar-list p span {
    padding-left: 1rem;
    color: white;
}

.admin-sidebar-list p {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.admin-sidebar-list:hover {
    background-color: #272626;
}
