@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;700&display=swap');

.trainer-sidebar {
    color: black;
    background-color: #222222;
    box-shadow: 0.25rem 0 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 
    0.125rem 0 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
    height: 100%;
}

.trainer-div-logo {
    color: #FF7906;
    height: 4rem;
    font-family: 'Montagu Slab', serif;
    font-weight: bold;
}

.trainer-sidebarlist {
    height: 3rem;
    background-color: #2c2c2c;
    width: 90%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    color: #FF7906;
}

.trainer-sidebarlist span {
    color: white;
    margin-left: 1rem;
}