@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.clip-polygon {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}