.nav-bar {
    margin-top: 1rem;
    background-color: transparent;
    width: 90%;
    color: #FF7906;
    display: flex;
    justify-content: space-between;

}

.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.header-nav-list ul {
    display: flex;
    list-style: none;
}

.header-nav-list li {
    margin: 0 2.5rem;
    position: relative;
}

.header-nav-list li a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.header-nav-list li.active::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 0.25rem;
    border-bottom: 2px solid #FF7906;
}

.signinButtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}