.login-page {
    overflow-x: hidden;
    overflow-y: hidden; 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-bar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo h1 {
    color: #FF7906;
    font-family: 'Montagu Slab', serif;
    margin: 0 3rem;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list li {
    padding: 0 2.5rem;
}

.btns {
    margin-right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-btn, .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signin-btn {
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #313131;
    color: white;
}

.signup-btn {
    width: 4rem;
    height: 3rem;
}

.body-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading {
    width: 75%;
    height: 65%;
    display: flex;
    display: flex;
    flex-direction: column;
}

.heading span {
    color: #FF7906;
    font-size: 4rem;
}

.heading h2 {
    color: #373737;
    font-size: 2rem;
}

.heading p {
    color: #373737;
}

.input {
    margin-top: 3rem;
    width: 29.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 89%;
    background-color: white;
    padding-left: 1rem;
    height: 2.6rem;
}

.user {
    background-color: #313131;
    color: #F0F0F0;
    height: 3rem;
    width: 8rem;
    cursor: pointer;
}

.trainer {
    margin-top: 3rem;
    width: 10rem;
    background-color: #313131;
    color: #F0F0F0;
    height: 3rem;
    cursor: pointer;
}

.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}